* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}
a {
	color: white;
	text-decoration: none;
}
ul {
	list-style: none;
}
.container {
	background-color: black;
}
.row {
	width: 80%;
	margin: auto;
}
.logo {
	font-size: 1.5rem;
}
.navbar {
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
	.main-menu {
		display: flex;
	}
}
.main-menu {
	li {
		a {
			display: inline-block;
			padding: 10px 20px;
		}
	}
}
li {
	a {
		&:hover {
			background-color: blue;
		}
	}
}
.menu-btn {
	display: none;
}
.section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(https://i.postimg.cc/vZrkVwB5/joe-woods-4-Zaq5x-Y5-M-c-unsplash.jpg) no-repeat center center/cover;
}
.row-content {
	h2 {
		font-size: 2rem;
		margin-bottom: 10px;
		text-align: center;
	}
	p {
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.6;
	}
}
@media screen and (max-width: 768px) {
	.main-menu {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100%;
		flex-direction: column;
		background-color: #252525;
		transition: 0.5s all ease;
		display: none;
		align-items: center;
		transform: translateX(-800px);
		padding-top: 60px;
		li {
			a {
				margin-bottom: 10px;
				display: block;
			}
		}
	}
	.main-menu.show {
		transform: translateX(0px);
		transition: 0.5s all ease;
	}
	.menu-btn {
		display: block;
		position: absolute;
		color: white;
		top: 10px;
		right: 30px;
		font-size: 2rem;
	}
}
